* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
/* AboutUs1 Start */
.ab-header {
    text-align: center;
    margin-top: 45px;
    font-size: 43px;
    line-height: 55px;
    text-transform: capitalize;
    font-family: "Ubuntu", sans-serif;
    color: #505050;
    font-weight: bold;
}
.ab-header::first-line {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: normal;
    color: gray;
}
.ab-content {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 55px;
    margin-bottom: 70px;
    flex-wrap: wrap;
    width: 84%;
    justify-content: space-between;
}
.big-img {
    width: 48%;
    height: 700px;
}
.small-boxes {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
    height: 700px;
}
.ab-small1,
.ab-small2 {
    width: 48.5%;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    height: 52%;
}
.ab-small1 {
    background-color: aliceblue;
}
.ab-small2 {
    background-color: #fff2fa;
}
#small-img {
    width: 71px;
    margin: 30px 0% 25px 67%;
}
.ab-small1 h3,
.ab-small2 h3 {
    text-align: right;
    margin-right: 17px;
    color: gray;
    font-size: 22px;
    font-weight: normal;
}
.ab-small1 p,
.ab-small2 p {
    font-size: 14px;
    padding: 25px 15px 0px 20px;
    color: black;
    line-height: 25px;
    font-style: italic;
}
.Readmore1,
.Readmore2 {
    margin: 35px 5px 0px 57%;
    padding-bottom: 25px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.Readmore1 {
    color: #23c4bb;
}
.Readmore2 {
    color: #fe7ec9;
}
.Readmore1:hover {
    color: lightseagreen;
}
.Readmore2:hover {
    color: #ec75bb;
}
.sec-image,
.third-image {
    width: 48.5%;
    height: 46%;
    margin-top: 2%;
}

/* AboutUs1 End */
/* AboutUs2 Start */
.BeforeAboutusGrid,
.BeforeAboutus2 {
    padding: 50px 190px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fe7ec9ec;
    gap: 10px;
}

.col {
    background-color: white;
    min-height: 55vh;
}

.BeforeAboutusGrid .col-text {
    padding: 25px 30px;
    font-family: "Open Sans", sans-serif;
    color: #42434b;
}
.BeforeAboutusGrid .col-text h2 {
    margin-top: 15px;
    line-height: 1.2;
    font-weight: 700;
    font-size: 30px;
    font-family: Oswald, sans-serif;
    letter-spacing: -1.5px;
}
.BeforeAboutusGrid .col-text p {
    line-height: 1.7;
    font-size: 1.125rem;
    margin: 20px 0 15px;
    font-family: "Open Sans", sans-serif;
}

.BeforeAboutusGrid .col-img {
    background-size: cover;
}
.BeforeAboutusGrid .col-img:first-of-type {
    background-image: url("../images/aboutus2_2.jpg");
    background-position: top;
}
.BeforeAboutusGrid .col-img:last-of-type {
    background-image: url("../images/aboutus2-1.jpg");
    background-position: center;
}

/* About us 2 */
.AboutUs2 {
    text-align: center;
    margin: 50px 0;
    font-family: Oswald, sans-serif;
    color: #42434b;
}
.title {
    font-weight: 300;
    color: #808080;
    font-size: 24px;
    margin-bottom: 15px;
}
.title + h1 {
    color: #42434b;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 55px;
}
.BeforeAboutus2 {
    background-color: white;
    gap: 30px;
}
.BeforeAboutus2 .col-img img {
    object-fit: cover;
    width: 100%;
    min-width: 400px;
    height: 100%;
}

.BeforeAboutus2 .col {
    display: flex;
    flex-direction: column;
    gap: 100px;
    text-align: right;
    font-family: "Open Sans", sans-serif;
}
.BeforeAboutus2 .col-left {
    text-align: left;
}

.BeforeAboutus2 .col h3 {
    font-family: Oswald, sans-serif;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1.5px;
}

.BeforeAboutus2 p {
    line-height: 1.7;
    font-size: 1.125rem;
    margin: 20px 0 15px;
}

/* AboutUs2 END */
@media only screen and (max-width: 991px) {
    .ab-header {
        font-size: 35px;
    }
    .ab-content {
        margin-left: 12%;
        margin-right: 12%;
        width: 76%;
    }
    .big-img {
        width: 100%;
        margin-top: -35px;
        height: 610px;
    }
    .small-boxes {
        width: 100%;
        margin-top: 25px;
    }
}
@media only screen and (max-width: 768px) {
    .ab-content {
        margin-left: 4%;
        margin-right: 4%;
        width: 92%;
    }
    .big-img {
        height: 530px;
    }
    .ab-small1,
    .ab-small2 {
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 15px;
    }
    #small-img {
        margin-left: auto;
        width: 67px;
    }
    .ab-small1 h3,
    .ab-small2 h3 {
        margin: 0% !important;
        text-align: center;
    }
    .Readmore1,
    .Readmore2 {
        margin-left: auto;
        margin-left: 0%;
    }
    .sec-image {
        margin-bottom: 15px;
    }
    .sec-image,
    .third-image {
        width: 100%;
        height: 60%;
    }
}
@media (max-width: 1300px) {
    /* AboutUs2 Start */
    .BeforeAboutusGrid,
    .BeforeAboutus2 {
        padding: 40px 60px;
    }
    .BeforeAboutus2 .col {
        gap: 60px;
        /* min-height: 0px; */
    }
    /* AboutUs2 END */
}
@media (max-width: 988px) {
    /* AboutUs2 Start */
    .BeforeAboutusGrid {
        padding: 30px 30px;
    }
    .BeforeAboutus2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 30px 50px;
    }
    .BeforeAboutus2 .col-left {
        grid-column: span 2;
    }

    /* AboutUs2 END */
}
@media (max-width: 785px) {
    /* AboutUs2 Start */
    .BeforeAboutusGrid {
        grid-template-columns: auto;
        margin-top: 910px;
    }
    .BeforeAboutus2 {
        padding: 15px;
        display: flex;
        flex-direction: column;
    }
    .BeforeAboutus2 .col {
        gap: 60px;
        min-height: 0px;
    }
    .BeforeAboutus2 .col-left {
        grid-column: 1;
        flex-basis: content;
    }
    .BeforeAboutus2 .col-img img {
        min-width: 0;
        min-height: 0;
    }
    /* AboutUs2 END */
}
