* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
/* till all responsive proplems fixed. */
body > *{
    overflow-x: hidden;
}

/* start section WSEWB */
.text-and-imeg{
    display: flex;
    flex-wrap: wrap;
}
.text h2{
    text-align: center;
    margin: 50% 0 0 0;
    color: #488df4;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.text h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #42434b;
}
.imeg{
    margin-top: 20px;
}
/* end section WSEWB */
/* start rispoonsev section WSEWB */
/* mopil */
@media (max-width: 767px){
    .text-and-imeg{
        width: 100%;
        flex-direction: column;
    }
    .text h2{
        width: 100;
    }
    .text h3{
        width: 100%;
    }
    .imeg-1{
        width: 100%;
    }
}
@media (min-width: 480px) and (max-width: 767px){
    .imeg-1{
        width: 88%;
        margin: auto 6% auto 6%;
    }
}
/* small screen */
@media (min-width: 768px) and (max-width: 1024px) {
    .text-and-imeg{
        width: 100%;
        flex-wrap: wrap;
    }
    .text{
        width: 50%;
    }
    .imeg{
        width: 50%;
    }
    .imeg-1{
        width: 90%;
    }
    .text h2{
        width: 100%;
        padding-left: 60px;
        font-size: 45px;
    }
    .text h3{
        width: 100%;
        padding-left: 45px;
    }
}
/* mudim screen */
@media (min-width: 1025px){
    .text-and-imeg{
        width: 100%;
        flex-wrap: wrap;
    }
    .text{
        width: 50%;
    }
    .imeg{
        width: 50%;
    }
    .imeg-1{
        width: 90%;
    }
    .text h2{
        width: 100%;
        padding-left: 60px;
    }
    .text h3{
        width: 100%;
        padding-left: 45px;
    }
}
/* larg screen */
@media (min-width: 1200px){
    .text h2{
        font-size: 60px;
        padding-left: 60px;
    }
    .text h3{
        padding-left: 45px;
    }
}
/* end rispoonsev section WSEWB */
/* start section L-P-P-G */
.beleaguer{
    display: flex;
    flex-wrap: wrap;
}
.learning{
    width: 378px;
    height: 400px;
    background-color: #38c4c1;
    text-align: center;
    padding-top: 120px;
}
.Philosophy{
    width: 378px;
    height: 400px;
    background-color: #feca02;
    text-align: center;
    padding-top: 120px;
}
.practice{
    width: 378px;
    height: 400px;
    background-color: #fe7ec9;
    text-align: center;
    padding-top: 120px;
}
.games{
    width: 378px;
    height: 400px;
    background-color: #488df4;
    text-align: center;
    padding-top: 120px;
}
.text-3{
    margin: 20px 20px 35px;
    color: #ffffff;
    font-size: 2.25rem;
    font-family: Arial, Helvetica, sans-serif;
}
/* end section L-P-P-G */
/* start responsiv section L-P-P-G */
/* mopil */
@media (max-width: 767px){
    .learning{
        width: 100%;
    }
    .Philosophy{
        width: 100%;
    }
    .practice{
        width: 100%;
    }
    .games{
        width: 100%;
    }
}
/* small screen */
@media (min-width: 768px)  {
    .beleaguer{
        display: flex;
        flex-wrap: wrap;
    }
    .learning{
        width: 50%;
    }
    .Philosophy{
        width: 50%;
    }
    .practice{
        width: 50%;
    }
    .games{
        width: 50%;
    }
}
/* mudim screen */
@media (min-width: 1024px){
    .beleaguer{
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;
    }
    .learning{
        width: 25%;
    }
    .Philosophy{
        width: 25%;
    }
    .practice{
        width: 25%;
    }
    .games{
        width: 25%;
    }
}
/* end responsiv section L-P-P-G */
/* start section K-L-H-W-T-T */
.K-L-H-W-T-T{
    background-color: #f2f2f2;
}
.beleaguer-1 h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #488df4; 
    font-size: 60px;
    padding-top: 140px;
}
.mark{
    background-color: #000000;
    width: 12%;
    margin: 0 44% 0 44%;
    height: 7px;
    margin-top: 30px;
}
.K-L-H-W-T-T p{
    text-align: center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #7a7676;
    padding-bottom: 140px;
}
/* end section K-L-H-W-T-T */
/* mopil */

@media (max-width: 767px){
    .mark{
        width: 12%;
        margin: 0 44% 0 44%;
    }
}
/* small screen */
@media (min-width: 768px) {
    .beleaguer-1 h1{
        width: 80%;
        margin-left: 10%;
        margin-right: 10px;
    }
    .K-L-H-W-T-T p{

    }
}
/* mudim screen */
@media (min-width: 992px){

}
/* larg screen */
@media (min-width: 1200px){

}
/* x larg screen */
@media (min-width: 1400px){

}
/* custom */
@media (max-width: 1199px){

}









/* AboutUs1 Start */
.ab-header {
    text-align: center;
    margin-top: 45px;
    font-size: 43px;
    line-height: 55px;
    text-transform: capitalize;
    font-family: "Ubuntu", sans-serif;
    color: #505050;
    font-weight: bold;
}
.ab-header::first-line {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: normal;
    color: gray;
}
.ab-content {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 55px;
    margin-bottom: 70px;
    flex-wrap: wrap;
    width: 84%;
    justify-content: space-between;
}
.big-img {
    width: 48%;
    height: 700px;
}
.small-boxes {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
}
.ab-small1,
.ab-small2 {
    width: 48.5%;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    height: 52%;
}
.ab-small1 {
    background-color: aliceblue;
}
.ab-small2 {
    background-color: #fff2fa;
}
#small-img {
    width: 71px;
    margin: 30px 0% 25px 67%;
}
.ab-small1 h3,
.ab-small2 h3 {
    text-align: right;
    margin-right: 17px;
    color: gray;
    font-size: 22px;
    font-weight: normal;
}
.ab-small1 p,
.ab-small2 p {
    font-size: 14px;
    padding: 25px 15px 0px 20px;
    color: black;
    line-height: 25px;
    font-style: italic;
}
.Readmore1,
.Readmore2 {
    margin: 35px 5px 0px 57%;
    padding-bottom: 25px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.Readmore1 {
    color: #23c4bb;
}
.Readmore2 {
    color: #fe7ec9;
}
.Readmore1:hover {
    color: lightseagreen;
}
.Readmore2:hover {
    color: #ec75bb;
}
.sec-image,
.third-image {
    width: 48.5%;
    height: 46%;
    margin-top: 2%;
}

/* AboutUs1 End */
/* AboutUs2 Start */
.BeforeAboutusGrid,
.BeforeAboutus2 {
    padding: 50px 190px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fe7ec9ec;
    gap: 10px;
}

.col {
    background-color: white;
    min-height: 55vh;
}

.BeforeAboutusGrid .col-text {
    padding: 25px 30px;
    font-family: "Open Sans", sans-serif;
    color: #42434b;
}
.BeforeAboutusGrid .col-text h2 {
    margin-top: 15px;
    line-height: 1.2;
    font-weight: 700;
    font-size: 30px;
    font-family: Oswald, sans-serif;
    letter-spacing: -1.5px;
}
.BeforeAboutusGrid .col-text p {
    line-height: 1.7;
    font-size: 1.125rem;
    margin: 20px 0 15px;
    font-family: "Open Sans", sans-serif;
}

.BeforeAboutusGrid .col-img {
    background-size: cover;
}
.BeforeAboutusGrid .col-img:first-of-type {
    background-image: url("../images/aboutus2_2.jpg");
    background-position: top;
}
.BeforeAboutusGrid .col-img:last-of-type {
    background-image: url("../images/aboutus2-1.jpg");
    background-position: center;
}

/* About us 2 */
.AboutUs2 {
    text-align: center;
    margin: 50px 0;
    font-family: Oswald, sans-serif;
    color: #42434b;
}
.title {
    font-weight: 300;
    color: #808080;
    font-size: 24px;
    margin-bottom: 15px;
}
.title + h1 {
    color: #42434b;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 55px;
}
.BeforeAboutus2 {
    background-color: white;
    gap: 30px;
}
.BeforeAboutus2 .col-img img {
    object-fit: cover;
    width: 100%;
    min-width: 400px;
    height: 100%;
}

.BeforeAboutus2 .col {
    display: flex;
    flex-direction: column;
    gap: 100px;
    text-align: right;
    font-family: "Open Sans", sans-serif;
}
.BeforeAboutus2 .col-left {
    text-align: left;
}

.BeforeAboutus2 .col h3 {
    font-family: Oswald, sans-serif;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1.5px;
}

.BeforeAboutus2 p {
    line-height: 1.7;
    font-size: 1.125rem;
    margin: 20px 0 15px;
}
/* AboutUs2 END */
/* Facility Start */
.facility{
    width: 100%;
    display: flex;
    background-color: #38c4c1;
    flex-flow: row wrap;
    font-family: "Ubuntu", sans-serif;
}
.fas-head{
    margin-right: auto;
    margin-left: auto;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    line-height: 50px;
    margin-top: 80px;
    text-transform: capitalize;
}
.fas-head::first-line{
    font-weight: normal;
    font-size: 27px;
    text-transform: uppercase;
}
.fas-comp{
    width: 1100px;
    margin: 40px auto 40px auto;
    display: flex;
}
.fas-image{
    width: 550px
}
.fas-text{
    width: 550px;
    background-color: white;
    font-weight: normal;
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    color: gray;
}
.fas-text span{
    font-weight: bold;
    font-size: 28px
}
.fas-submit{
    cursor: pointer;
    color: #fe7ec9;
    margin-top: 35px;
    text-transform: uppercase;
    font-size: 18px;
}
/* Facility End */
/* Footer Start */
.first-foo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.first-foo div{
    width: 220px;
    font-size: 15px;
    text-align: center;
}
.first-foo img{
    width: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
/* Footer End */
@media (max-width:770px){
    /* Footer Start */
    .first-foo{
        flex-direction: column;
        align-content: center;
    }
    .first-foo div{
        margin-bottom: 100px;
    }
}
@media(max-width:981px){
    /*Facility Start*/
    .fas-comp{
        width: 700px;
    }
    .fas-image{
        width: 350px;
        height: 565px;
    }
    .fas-text{
        width: 350px;
        font-size: 25px;
    }
    .fas-text span{
        font-weight: bold;
        font-size: 37px
    }
}
@media(max-width:770px){
    .fas-comp{
        flex-flow: row wrap;
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
    .fas-image{
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
    .fas-text{
        width: 70vw;
        height: 600px;
    }
    /* Facility End */
}
@media only screen and (max-width: 991px) {
    .ab-header {
        font-size: 35px;
    }
    .ab-content {
        margin-left: 12%;
        margin-right: 12%;
        width: 76%;
    }
    .big-img {
        width: 100%;
        margin-top: -35px;
        height: 610px;
    }
    .small-boxes {
        width: 100%;
        margin-top: 25px;
    }
}
@media only screen and (max-width: 768px) {
    .ab-content {
        margin-left: 4%;
        margin-right: 4%;
        width: 92%;
    }
    .big-img {
        height: 530px;
    }
    .ab-small1,
    .ab-small2 {
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 15px;
    }
    #small-img {
        margin-left: auto;
        width: 67px;
    }
    .ab-small1 h3,
    .ab-small2 h3 {
        margin: 0% !important;
        text-align: center;
    }
    .Readmore1,
    .Readmore2 {
        margin-left: auto;
        margin-left: 0%;
    }
    .sec-image {
        margin-bottom: 15px;
    }
    .sec-image,
    .third-image {
        width: 100%;
        height: 60%;
    }
    .small-boxes{
        height: max-content;
    }
}
@media (max-width: 1300px) {
    /* AboutUs2 Start */
    .BeforeAboutusGrid,
    .BeforeAboutus2 {
        padding: 40px 60px;
    }
    .BeforeAboutus2 .col {
        gap: 60px;
        /* min-height: 0px; */
    }
    /* AboutUs2 END */
}
@media (max-width: 988px) {
    /* AboutUs2 Start */
    .BeforeAboutusGrid {
        padding: 30px 30px;
    }
    .BeforeAboutus2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 30px 50px;
    }
    .BeforeAboutus2 .col-left {
        grid-column: span 2;
    }

    /* AboutUs2 END */

    /*key_feachures*/
    .key_content{
        padding: 50px 20px !important;
    }
    .key_content > div{
        flex: 35%;
    }

}
@media (max-width: 785px) {
    /* AboutUs2 Start */
    .BeforeAboutusGrid {
        grid-template-columns: auto;
    }
    .BeforeAboutus2 {
        padding: 15px;
        display: flex;
        flex-direction: column;
    }
    .BeforeAboutus2 .col {
        gap: 60px;
        min-height: 0px;
    }
    .BeforeAboutus2 .col-left {
        grid-column: 1;
        flex-basis: content;
    }
    .BeforeAboutus2 .col-img img {
        min-width: 0;
        min-height: 0;
    }
    /* AboutUs2 END */

    /* KEYFEATURES */
    .key_content{
        flex-direction: column;
        align-items: center !important;
    }
    .key_content > div{
        width: 90%;
    }
    .rrr{
        flex-direction: column;
        align-items: center !important;
        gap: 100px !important;
    }
    .rrr > *{
        width: 90% !important;
    }
}
/*key_feachures*/

.grey_{
    background-color: #f3f3f3;
}

.key_header {
    text-align: center;
    margin-top: 45px;
    font-size: 35px;
    line-height: 50px;
    text-transform: capitalize;
    font-family: "Ubuntu", sans-serif;
    color: #ffffff;
    font-weight: bold;
}
.key_header::first-line{
    text-transform: uppercase;
    font-size: 20px;
    font-weight:lighter;
    color: rgb(255, 255, 255);
}

.keyfeahures{
    background-color: rgb(252, 207, 6);
}

.key_content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    height: max-content;
    padding: 50px 0;
}

.key_box1,
.key_box2,
.key_box3,
.key_box4 {
    width: 20%;
    box-sizing:border-box;
    font-family: "Ubuntu", sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    display:block;
}

#ca_img,
#me_img,
#pu_img,
#re_img{
    display: block;
    margin: 20px auto;
    width: 77px;
    position:relative;
}

.key_box1 h3,
.key_box2 h3,
.key_box3 h3,
.key_box4 h3 {
    text-align:center;
    font-size:19px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;

}
.key_box1 h3{
    color: rgb(255, 107, 198);
}
.key_box2 h3{
    color: rgb(73, 120, 208);
}
.key_box3 h3{
    color: #23c4bb;
}
.key_box4 h3{
    color: yellow;


}



.key_box1 p,
.key_box2 p,
.key_box3 p,
.key_box4 p {
    font-size: 17px;
    padding: 25px 15px 0px 20px;
    color: rgb(90, 87, 87);
    line-height: 20px;
    font-style: italic;
}

/*how to inroll start */
.how {
    width: 92%;
    margin: auto;
    color: #42434b;
    margin-top: 45px;
    font-size: 35px;
    line-height: 50px;
    font-family: "Ubuntu", sans-serif;

}

.box11,
.box22{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 19px;
    color: #505050;
    width: 40%;
}

.rrr{
    margin-top: 50px;
    line-height: 30px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}



/*how to inroll end */
